* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: darkgoldenrod;

  a {
    font-size: 1.2rem;

    &:hover {
      cursor: pointer;
      color: green;
    }
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }
}//end App

